# Ignore virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment/config files
.env
*.env

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# data from JSON file
data.json